<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="travelsystem app tests" verbose="1">
  <test name="unit tests">
    <packages>
    	<package name="net.sf.brightside.travelsystem.metamodel.beans.*"/>
    	
    </packages>
    
  </test>
  <test name="integration tests">
    <packages>
    <package name="net.sf.brightside.travelsystem.core.spring.*"/>
     </packages>
  </test>
</suite>